<div class="py-8 font-mono text-md border-b border-neutral-900 shadow-md">
    <nav class="flex md:flex-row flex-col lg:w-9/12 w-11/12 mx-auto">

        {{/*  Title  */}}
        <div class="lg:text-left text-center my-auto text-neutral-900">
            {{ if .IsHome }}
                <span>{{ .Site.Title }} >_<span class="text-amber-50 selection:text-neutral-900"><</span></span>
            {{ else }}
                <a href="/">{{ .Site.Title }} >_<span class="text-amber-50 selection:text-neutral-900"><</span></a>
            {{ end }}
        </div>

        {{/*  Spacer  */}}
        <div class="md:grow md:h-0 h-6"></div>

        <div class="flex md:gap-8 gap-0 justify-evenly">

            {{ $currentPage := . }}

            {{ range .Site.Menus.nav }}

                {{ $isActive := or ($currentPage.IsMenuCurrent "nav" .) ($currentPage.HasMenuCurrent "nav" .) }}
                {{ $isActive = or $isActive (eq $currentPage.Title .Name) }}
                {{ $isActive = or $isActive (and (eq .Name "Posts") (eq $currentPage.Type "posts")) }} {{/* Highlight when on a single post */}}
                {{ $isActive = or $isActive (and (eq .Name "Projects") (eq $currentPage.Type "projects")) }} {{/* Highlight when on a single project */}}

                <a href="{{ .URL }}" class="px-5 py-1
                    {{ if $isActive }}
                        text-white bg-neutral-900 rounded-lg
                    {{ else }}
                        underline decoration-2 decoration-[#00000000] hover:decoration-neutral-900
                        transition-colors duration-200 underline-offset-8 text-neutral-900
                    {{ end }}
                    ">
                    {{- .Name | safeHTML -}}
                </a>

            {{ end }}
        </div>
    </nav>
</div>
