{{ define "main" }}

<div class="markdown w-10/12 mx-auto">
	{{ .Content }}
</div>

{{/*  Spacer  */}}
<div class="h-36"></div>

{{/*  Social cards  */}}
<div class="w-11/12 md:w-9/12 mx-auto flex flex-wrap justify-center md:gap-12 gap-5 ">
	{{ range .Site.Params.socials }}
		{{ partial "components/social_card.html" . }}
	{{ end }}
</div>

{{/*  GitHub Issue Link  */}}
{{ if .Site.Params.githubIssueUrl }}
	<div class="markdown mt-32">
		<p class="text-center">Found a problem? Open an issue <a href="{{ .Site.Params.githubIssueUrl }}">here.</a></p>
	</div>
{{ end }}


{{ end }}