{{ define "main" }}

<!-- <h1>{{ .Title }}</h1> -->
<div class="markdown">
	{{ .Content }}
</div>

{{/*  Spacer  */}}
<div class="h-56"></div>

{{/*  Social cards  */}}
<div class="w-9/12 mx-auto flex flex-wrap justify-center gap-12">
	{{ range .Site.Params.socials }}
		{{ partial "components/social_card.html" . }}
	{{ end }}
</div>

{{/*  GitHub Issue Link  */}}
{{ if .Site.Params.githubIssueUrl }}
	<div class="markdown mt-32">
		<p class="text-center">Found a problem? Open an issue <a href="{{ .Site.Params.githubIssueUrl }}">here.</a></p>
	</div>
{{ end }}


{{ end }}