{{ define "main" }}

{{ $paginator := .Paginator }}

{{/*  Content  */}}
<div class="flex flex-row justify-center items-start">

	<!-- Posts container -->
	<div class="border-l border-black w-5/12">

	{{ range $paginator.Pages.ByPublishDate.Reverse }}

		<article class="pt-8 pb-8">
			<header class="mb-3">
				<a href="{{ .RelPermalink }}">
				<h2 class="
					text-3xl font-thin border-l-2 border-black pl-4 tracking-wide
					border-b border-b-transparent
					transition-all hover:border-l-8 hover:border-b-black
				">
					{{ .Title }}
				</h2>
				</a>
				<time class="text-sm pl-5 font-light">{{ .PublishDate | time.Format "2006-01-02" }}</time>
				
				{{/*  Tags  */}}
				<div class="pl-5">
					{{ range .Params.tags }}
						{{ partial "components/tag.html" .}}
					{{ end }}
				</div>
				
			</header>
			
			<section class="pl-5 font-light">
				<p>{{ .Summary }}</p>
			</section>
			
			{{/*  <footer></footer>  */}}

		</article>

	{{ end }}

	</div>
</div>

<div class="h-36"></div>

{{/*  Pagination  */}}
<div class="flex">
	<div class="grow"></div>

	<div class="grow flex flex-row justify-center items-start max-w-3xl font-mono">

		{{ $buttonBaseClass := "inline-block p-2 mx-1 rounded-md leading-4"}}

		{{/*  Previous  */}}
		{{ if $paginator.HasPrev }}
			<a href="{{ $paginator.Prev.URL }}" class="{{ $buttonBaseClass }}">&lt; Previous</a>
		{{ else }}
			<a class="{{ $buttonBaseClass }} text-gray-500">&lt; Previous</a>
		{{ end }}
		
		{{/*  spacer  */}}
		<div class="grow"></div>		

		{{/*  Page numbers  */}}
		{{ if gt $paginator.TotalPages 1 }}
			
			{{ range $paginator.Pagers }}

				<a href="{{ .URL }}" class="
					{{ $buttonBaseClass }}
					{{ if eq . $paginator }}
					text-white bg-black
					{{ end }}
				">
					{{ .PageNumber }}
				</a>
				
			{{ end }}
			
		{{ end }}

		{{/*  spacer  */}}
		<div class="grow"></div>	

		{{/*  Next  */}}
		{{ if $paginator.HasNext }}
			<a href="{{ $paginator.Next.URL }}" class="{{ $buttonBaseClass }}">Next &gt;</a>
		{{ else }}
			<a class="{{ $buttonBaseClass }} text-gray-500">Next &gt;</a>
		{{ end }}

	</div>

	<div class="grow"></div>
</div>




{{ end }}
