{{ define "main" }}

<div class="flex flex-col md:flex-row justify-center items-stretch">

	{{/*  Side information bar (only visible on bigger media)  */}}
	<div class="hidden md:flex flex-col text-sm font-thin w-1/12 mt-16 mr-16 text-right min-w-min ">

		{{/*  Dates  */}}
		<div class="mb-10">
			{{ $publishDate := .PublishDate | time.Format "2006-01-02" }}
			{{ $lastmod := .Lastmod | time.Format "2006-01-02" }}
			
			<div class="border-b border-black pb-1 mb-3">Date</div>
			
			<time>Published {{ $publishDate }}</time>

			{{ if ne $publishDate $lastmod }}
				<time>Modified {{ $lastmod }}</time>
			{{ end }}
		</div>

		{{/*  Author  */}}
		{{ if .Params.author }}
			<div class="mb-10">
				<div class="border-b border-black pb-1 mb-3">Author</div>
				<span>{{ .Params.author }}</span>
			</div>
		{{ end }}
		
		{{/*  Tags  */}}
		{{ if gt .Params.tags 0 }}
			<div class="mb-10">
				<div class="border-b border-black pb-1 mb-3">Tags</div>
				{{ range .Params.tags }}
					{{ partial "components/tag.html" .}}
				{{ end }}
			</div>
		{{ end }}

		{{/*  <div class="grow"></div>  */}}

		{{/*  Back to the top button  */}}
		{{/*  <a href="#top" class="mx-auto" title="Back to the top">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.655 10.405a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 101.06 1.06l4.97-4.97v14.44a.75.75 0 001.5 0V5.435l4.97 4.97a.75.75 0 001.06 0z"></path></svg>
		</a>
		<div class="border-b border-black pb-1 mb-3"></div>  */}}
		
	</div>

	{{/*  main content  */}}
	<div class="markdown w-11/12 md:w-7/12 lg:w-5/12 mx-auto md:mx-0">

		<h1>{{- .Title -}}</h1>
			{{/*  Top information bar (only visible on small media)  */}}
		<div class="block md:hidden text-sm mb-12 -mt-4">
			<p>
				{{/*  Author  */}}
				{{ if .Params.author }}
					By {{ .Params.author }} | 
				{{ end }}

				{{/*  Dates  */}}
				{{ $publishDate := .PublishDate | time.Format "2006-01-02" }}
				{{ $lastmod := .Lastmod | time.Format "2006-01-02" }}
				
				Published <time>{{ $publishDate }}</time>

				{{ if ne $publishDate $lastmod }}
					(<time>{{ $lastmod }}</time>)
				{{ end }}
			</p>

			{{/*  Tags  */}}
			{{ if gt .Params.tags 0 }}
			<div class="mb-2">
				{{ range .Params.tags }}
					{{ partial "components/tag.html" .}}
				{{ end }}
			</div>
			{{ end }}

		</div>


		{{ .Content }}
		
	</div>

</div>


{{ end }}