{{ define "main" }}

<div class="flex flex-row justify-center items-start">

	<!-- Side information bar -->
	<div class="text-sm font-thin w-1/12 mt-10 text-right">

		{{/*  Dates  */}}
		<div class="mb-10">
			{{ $publishDate := .PublishDate | time.Format "2006-01-02" }}
			{{ $lastmod := .Lastmod | time.Format "2006-01-02" }}
			
			<div class="border-b border-black pb-1 mb-3">Date</div>
			
			<time>Published {{ $publishDate }}</time>

			{{ if ne $publishDate $lastmod }}
				<time>Modified {{ $lastmod }}</time>
			{{ end }}
		</div>

		{{/*  Author  */}}
		{{ if .Params.author }}
			<div class="mb-10">
				<div class="border-b border-black pb-1 mb-3">Author</div>
				<span>{{ .Params.author }}</span>
			</div>
		{{ end }}
		
		{{/*  Tags  */}}
		{{ if gt .Params.tags 0 }}
			<div class="mb-10">
				<div class="border-b border-black pb-1 mb-3">Tags</div>
				{{ range .Params.tags }}
					{{ partial "tag.html" .}}
				{{ end }}
			</div>
		{{ end }}
		
	</div>

	<div class="w-16"></div>

	{{/*  main content  */}}
	<div class="markdown w-5/12">

		{{/*  {{ partial "toc.html" . }}  */}}

		{{ .Content }}
		
	</div>
</div>

{{ end }}