{{ define "main" }}

{{ $publishDate := .PublishDate | time.Format "2006-01-02" }}
{{ $publishDateIso := .PublishDate | time.Format "2006-01-02T15:04:05Z07:00" }}
{{ $lastMod := .Lastmod | time.Format "2006-01-02" }}
{{ $lastModIso := .Lastmod | time.Format "2006-01-02T15:04:05Z07:00" }}

<div class="flex flex-col md:flex-row justify-center items-stretch">

    {{/*  side information bar (only visible on bigger media)  */}}
    <div class="hidden md:flex flex-col text-sm font-thin w-1/12 mt-16 mr-16 text-right min-w-min ">

        {{/*  dates  */}}
        <div class="mb-10">           
            <div class="border-b border-neutral-900 pb-1 mb-3">Date</div>

            <span class="text-nowrap">Published <time datetime="{{ $publishDateIso }}">{{ $publishDate }}</time></span>

            {{ if ne $publishDate $lastMod }}
                <br><span class="text-nowrap">Modified <time datetime="{{ $lastModIso }}">{{ $lastMod }}</time></span>
            {{ end }}
        </div>

        {{/*  author  */}}
        {{ with .Params.author }}
            <div class="mb-10">
                <div class="border-b border-neutral-900 pb-1 mb-3">Author</div>
                <span>{{ . }}</span>
            </div>
        {{ end }}

        {{/*  urls  */}}
        {{ with .Params.urls }}
            <div class="mb-10 markdown">
                <div class="border-b border-neutral-900 pb-1 mb-3">Urls</div>
                {{ range $index, $element := . }}
                    {{/* dot seperator */}}
                    {{/*  {{ if ne $index 0 }} 
                        <b>•</b>
                    {{ end }}  */}}

                    <a target="_blank" href="{{ $element.url }}">{{ $element.name }}</a><br>
                {{ end }}
            </div>
        {{ end }}

        {{/*  tags  */}}
        {{ with .Params.tags }}
            <div>
                <div class="border-b border-neutral-900 pb-1 mb-3">Tags</div>
                {{ range . }}
                    {{ partial "components/tag.html" .}}
                {{ end }}
            </div>
        {{ end }}

        {{/*  <div class="grow"></div>  */}}

        {{/*  back to the top button  */}}
        {{/*  <a href="#top" class="mx-auto" title="Back to the top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M18.655 10.405a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 101.06 1.06l4.97-4.97v14.44a.75.75 0 001.5 0V5.435l4.97 4.97a.75.75 0 001.06 0z"></path></svg>
        </a>
        <div class="border-b border-neutral-900 pb-1 mb-3"></div>  */}}
        
    </div>

    {{/*  main content  */}}
    <div class="markdown w-11/12 md:w-7/12 lg:w-5/12 mx-auto md:mx-0">

        <h1>{{- .Title -}}</h1>
        
        {{/*  top information bar (only visible on small media)  */}}
        <div class="block md:hidden text-sm mb-12 -mt-4">
            <p>
                {{/*  dates  */}}
                Published <time datetime="{{ $publishDateIso }}">{{ $publishDate }}</time>

                {{ if ne $publishDate $lastMod }}
                    (<time title="Modified" datetime="{{ $lastModIso }}">{{ $lastMod }}</time>)
                {{ end }}

                {{/*  author  */}}
                {{ with .Params.author }}
                    <br>By {{ . }}
                {{ end }}
            </p>

            <hr/>

        </div>

        {{ .Content }}

        {{/*  bottom information bar (only visible on small media)  */}}
        <div class="flex md:hidden text-sm mb-12 -mt-4 flex-col gap-2">
            <hr/>

            {{/*  urls  */}}
            {{ with .Params.urls }}
                <div>
                Urls: 
                {{ range $index, $element := . }}
                    {{/*  dot seperator */}}
                    {{ if ne $index 0 }}
                        <b>•</b>
                    {{ end }}
                    <a target="_blank" href="{{ $element.url }}">{{ $element.name }}</a>
                {{ end }}
                </div>
            {{ end }}
            
            {{/*  tags  */}}
            {{ with .Params.tags }}
                <div>
                {{ range . }}
                    {{ partial "components/tag.html" .}}
                {{ end }}
                </div>
            {{ end }}

        </div>
        
    </div>

</div>


{{ end }}