<div class="flex flex-row animatedTagsParent">

	{{/*  Tags  */}}
	<div class="hidden md:flex flex-col items-end w-5 justify-center gap-2">
		{{ range .Params.priorityTags }}
			<div class="animatedTagsChild opacity-0 duration-300 transition-all">
				{{ partial "components/tag.html" . }}
			</div>
		{{ end }}
	</div>

	<article class="pt-8 pb-8 md:ml-8 hover:translate-x-3 transition-transform w-full">
		<header class="text-2xl font-medium transition-colors duration-300 hover:decoration-black decoration-[#00000000] underline decoration-2">
			<a href="{{ .RelPermalink }}">
				<h2>
					{{- .Title -}}
				</h2>
			</a>
		</header>

		{{/*  Time  */}}
		<section>
			<time class="font-light text-sm leading-7">
				{{ .PublishDate | time.Format "2006-01-02" }}
			</time>
		</section>
		
		{{/*  Summary  */}}
		<section class="">
			<p>{{ .Summary }}</p>
		</section>
		
		{{/*  <footer></footer>  */}}

	</article>
</div>
