{{ $social := false }}
{{ range .Site.Params.socials }}
    {{ if eq $.Params.socials .name}}
        {{ $social = . }}
    {{ end }}
{{ end }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{ if $social }}
        <meta http-equiv="Refresh" content="0; url='{{ $social.url }}'" />
    {{ end }}
</head>
<body>
    {{- if not $social -}}
        <p>Could not redirect</p>
    {{- end -}}
</body>
</html>